<div class="col-sm-6 col-xs-12">
  <%= simple_form_for [namespace.to_sym, @object] do |f| %>
    <% @object.class.permitted_params.each do |param| %>
      <% if param.to_s.include? '_id' %>
        <%= f.association param.to_s.gsub("_id", "").to_sym,
          prompt: "#{t 'prompts.select'} #{param.to_s.gsub("_id", "").classify.constantize.model_name.human}".capitalize, selected: default_selected_value(param, @object) %>
      <% else %>
        <%= f.input param %>
      <% end %>
    <% end %>
    <div class="col-sm-6 col-xs-12">
      <%= f.submit class: 'btn btn-dark btn-gradient dark btn-block' %>
    </div>
  <% end %>
</div>
<div class="col-sm-6 col-xs-12">
  <% if params[:action] != 'new' %>
    <%= render 'additional_information' %>
  <% end %>
</div>