<%
  edit = true if edit.nil?
  delete = true if delete.nil?
  view = false if view.nil?
  delete_message = delete_message || nil
  responsive = true if responsive.nil?
  custom_button = "" if custom_button.nil?
%>

<table class="table table-sorter table-striped table-hover model-table <%= 'sort' if object_class.ordered? %>" data-order-url="<%= set_order_url %>">
  <thead>
    <tr>
      <% object_class.listed_params.each_with_index do |parameter, i| %>
        <th class="capitlized <%= 'hidden-xs' if !i.zero? and responsive %>">
          <%= sortable parameter %>
        </th>
      <% end %>
      <% if edit or view or delete %>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @objects.each do |object| %>
      <tr>
        <% object_class.listed_params.each_with_index do |parameter, i| %>
          <td class="<%= 'hidden-xs' if !i.zero? and responsive%> <%= 'index' if parameter.to_s == 'order_number' %>" data-id=<%= object.id %>><%= object.send(parameter) %></td>
        <% end %>
        <% if edit or view or delete %><td><% end %>
          <% if delete %>
            <%= delete_button(object, delete_message) %>
          <% end %>
          <% if edit %>
            <%= edit_button(object) %>
          <% end %>
          <% if view %>
            <%= view_button(object) %>
          <% end %>
          <% if custom_button.present? %>
            <%= custom_button(object, custom_button) %>
          <% end %>
        <% if edit or view or delete %></td><% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @objects.respond_to?(:total_pages) %>
  <%= will_paginate @objects, :container => true %>
  <div class="page-info">
    <%= page_entries_info @objects %>
  </div>
<% end %>
