<%= form_tag namespace_login_path, class: 'login-form' do %>
  <p class="error"><%= flash[:error] %></p>
  <%= text_field_tag 'username', nil, placeholder: 'Usuario' %>
  <%= password_field_tag 'password', nil, placeholder: 'Contraseña' %>
  <%= submit_tag 'Iniciar sesión', class: 'btn' %>
<% end %>
