<div class="col-sm-6 col-xs-12">
  <%= simple_form_for [namespace.to_sym, @object] do |f| %>
    
  <%= f.input :name %>
  <%= permission_headers %>
  <% unless f.object.permissions.empty? %>
    <%= f.simple_fields_for :permissions do |p| %>
      <% unless p.object.controller.nil? %>
        <%= p.input :id, as: :hidden %>
        <%= p.input :controller, as: :hidden %>
        <%= p.input :assignment, as: :check_boxes,
          label: p.object.controller.constantize.model_name.human, collection: Permission.permissions %>
      <% end %>
    <% end %>
  <% end %>

  <% @model_list.each do |m| %>
    <%= f.simple_fields_for :permissions do |p| %>
      <%= p.input :controller, input_html: { value: m.name }, as: :hidden %>
      <%= p.input :assignment, as: :check_boxes,
        label: m.model_name.human, collection: Permission.permissions %>
    <% end %>
  <% end %>
      
  <div class="col-sm-6 col-xs-12">
    <%= f.submit class: 'btn btn-dark btn-gradient dark btn-block' %>
  </div>

</div>
<% end %>
