@import url(http://fonts.kiino.co/fonts/glyphicons-pro/glyphicons-pro.css);
.crumb-active {
  a:first-letter {
    text-transform: capitalize;
  }
}
.en-flag {
  background-image: image-url("en.png");
  background-size: 100%;
  background-position: initial !important;
}
.es-MX-flag {
  background-image: image-url("es-mx.png");
  background-size: 100%;
  background-position: initial !important;
}
.no-selectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: alias;
}
textarea, input { outline: none; }
h2 { padding-left: 11px; }
.panel-control-collapse:after { content: "\f067"; }
.nav.sidebar-menu {
  a:first-letter {
    text-transform: capitalize;
  }
}
.float-right {
  float: right;
}
.capitlized:first-letter {
  text-transform: capitalize;
}
.table.model-table {
  tr {
    border-bottom: solid 1px rgba(128, 128, 128, 0.24);
  }
}
form.filters {
  .btn-group {
    margin-right: 5px;
  }
  .btn-controls {
    margin-right: 5px;
  }
  .btn-controls:first-letter, button:first-letter {
    text-transform: capitalize;
  }
}
form:not(.filters) {
  input, select {
    width: 100%;
    height: 40px;
    border-radius: 2px;
    border: solid 1px #CCCCCC;
    padding: 10px;
  }
  label:first-letter, select:first-letter {
    text-transform: capitalize;
  }
  .btn, label {
    margin-top: 10px;
  }
  .input-group-btn .btn {
    margin-top: 0;
    height: 40px;
  }
  div[class^="col-"] {
    padding: 0;
    float: right;
  }
  .error {
    color: red;
  }
}
@media only screen and (max-width : 480px) {
  form.filters {
    .btn-group, button, .btn {
      width: 100%;
    }
    .btn-group, .btn-defautl, .btn-dark {
      margin-bottom: 5px;
    }
  }
}

