.login {
  .login-form {
    position: fixed;
    z-index: 1;
    width: 300px;
    input[type="text"], input[type="password"] {
      background-color: rgba(106, 130, 142, 0.41);
      border: none;
      border-bottom: solid 1px #89A1AF;
      text-align: center;
      color: white;
    }
    input[type="text"]:hover, input[type="password"]:hover,
    input[type="text"]:focus, input[type="password"]:focus {
      background-color: rgba(106, 130, 142, 0.80);
    }
    .btn {
      margin-top: 20px;
      background-color: #566F7B;
      color: white;
      border: none;
      border-radius: 0;

    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #A9C4D4;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: #A9C4D4;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: #A9C4D4;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: #A9C4D4;
    }
  }
  .background:before {
    background: image-url("login_background.jpg") no-repeat fixed center !important;
  }
  overflow: hidden;
  #content_wrapper {
    margin: 0 !important;
  }
}

.new_role, .edit_role {
  .checkbox {
    @extend .checkbox-custom;
    @extend .fill;
    @extend .mb5;
    display: inline-block;
    width: 20%;
    min-width: 55px;
    padding-left: 10px;
    text-align: center;
  }
  label.check_boxes.optional {
    width: 10%;
    min-width: 70px;
  }
  .input.check_boxes {
    label {
      margin-right: 18px;
    }
  }
  input.check_boxes {
    position: absolute;
    margin-left: -20px;
    margin-top: -10px;
  }
  label.collection_check_boxes {
    top: -10px;
    span {
      display: none;
    }
    &:after {
      top: -6px;
    }
  }
  .header{
    label.check_boxes {
      min-width: 77px;
      width: 10%;
    }
    label.title {
      min-width: 58px;
      width: 20%;
      text-align: center;
    }
  }
}

@media (max-width: 502px) {
  .new_role, .edit_role {
    .checkbox {
      width: 55px;
    }
    label.check_boxes.optional {
      width: 70px;
    }

    .header{
      label.check_boxes {
        width: 77px;
      }
      label.title {
        width: 58px;
      }
    }
  }
}
